html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: bodyAnim 0s 2.45s forwards;
  background-image: url('../img/harurustudio_transparent_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

hr {
 color: rgba(0, 0, 0, 0.8);
 background-color: rgba(0, 0, 0, 0.8);
}

.center {
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  border: solid 2px #9be6ff;
  border-radius: 3px;
}

#content {
  opacity: 0;
  animation: contentAnim 1s 1.45s forwards;
}

.header {
  width: 100%;
}

.logo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: logoAnim 1s .45s forwards;
}

.headerItem {
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  border: 3px solid #c1eeff;
  font-size: 1.3em;
  color: #c1eeff;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 10;
  border-radius: 2px;
  display:inline-lock;
  top: 0;
  height: 2%;
  margin: 10px 10px 10px 10px;
  padding: 2px 2px 2px 2px;
}


.headerItem:hover {
  box-shadow: 0 0 45px #d7f5ff;
}

.flex {
  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 380px) {
  .headerItem {
    font-size: 1.0em;
  }
}

@media screen and (min-width: 1000px) {
  .headerItem {
    font-size: 1.5em;
  }
}

@keyframes logoAnim {
  from {
    width: 100%;
  }
  
  to {
    width: 50%;
  }
}

@keyframes bodyAnim {
  from {
    overflow: hidden;
  }

  to {
    overflow: auto;
  }
}

@keyframes contentAnim {
  from {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  
  80% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}